@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
  font-family: "Rethink Sans", sans-serif;
}
buttom {
  @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.cl-drawerRoot{
  z-index: 100;
}